<div class="bar_chart_outer relative" [style]="outerStyle" *ngIf="type ==1">
  <div [style]="innerStyle" class="absolute bottom-0 innerStyle">
  </div>
</div>

<!-- <div class="relative flex items-end" *ngIf="type ==2" style="height: 100%;">
  <div [style]="type2Styles">

  </div>
</div> -->
<div class="relative flex " *ngIf="type ==2" style="height: 100%;">
  <!--  -->
  <div class="flexflex-col  w-full gap-6 ">
    <!-- y labels -->
    <div class="flex  flex-col justify-between gap-4">
      <div *ngFor="let ylabel of barchartType2DataPoints.y_labels.slice()?.reverse();let i=index">
        <div class="flex gap-3 items-center w-full ">
          <p class="text-xs w-20 truncate" [style.color]="barchartType2DataPoints.y_label_color">{{ylabel}}</p>

          <div class="h-full  w-full flex flex-col items-start justify-center gap-2 ">
            <ng-container *ngFor="let item of barchartType2DataPoints.data[i]?.values">
              <div [style.background]="item.color" [style.width]="item.value+1+'%'" class="h-1/2 rounded-md"
                style="height: 30px;"></div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <!-- x labels -->
    <div class="flex flex-end gap-3 items-end justify-between overflow-auto relative pl-16">
      <div *ngFor="let x of barchartType2DataPoints.x_labels;let i=index" class="h-full flex  ">
        <div class="flex flex-col gap-1 items-center">
          <div class="h-full flex items-end justify-center gap-2 w-full">
            <ng-container *ngFor="let item of barchartType2DataPoints.data[i]?.values">
              <div [style.background]="item.color" [style.height]="item.value+1+'%'" class="w-1/2 rounded-md"
                style="width: 30px;"></div>
            </ng-container>
          </div>
          <p class="text-xs " [style.color]="barchartType2DataPoints.x_label_color">{{x}}</p>
        </div>

      </div>
    </div>

  </div>

</div>